<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flickr" type="Linq.Flickr.Configuration.FlickrSettings, Linq.Flickr"/>
  </configSections>

  <flickr apiKey="cd80fd317eff3714d43fea491bb97f45"
    secretKey="c84d48d11ce10a95"
    cacheDirectory="cache" />
  
  <appSettings>
    <!-- use any account of your wish. But use a dummy accout, before going for nuclear test. I dont mind keeping my account -->
    <add key="USERNAME" value="hossain_mehfuz"/>   
  </appSettings>
</configuration>