<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flickr" type="Linq.Flickr.Configuration.FlickrSettings, Linq.Flickr"/>
  </configSections>

  <flickr apiKey="abc"
    secretKey="xyz"
    defaultAuthProvider="desktop">

    <authProviders>
      <add name="desktop" type="Linq.Flickr.Authentication.Providers.DesktopProvider"/>
      <add name="web" type="Linq.Flickr.Authentication.Providers.WebProvider"/>
    </authProviders>


  </flickr>

</configuration>