<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flickr" type="Linq.Flickr.Configuration.FlickrSettings, Linq.Flickr"/>
  </configSections>

  <flickr apiKey="cd80fd317eff3714d43fea491bb97f45"
    secretKey="c84d48d11ce10a95"
    cacheDirectory="cache" />

  <appSettings>
    
  </appSettings>
</configuration>