<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="customDataConfig" type="OpenLinqToSql.Configuration.OpenLinqDataProviderConfiguration, OpenLinqToSql" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FlickrConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="api_key" value="5f89ec75f502dd85925c78e99c3f61d1" />
    <add key="secret_key" value="cea82e1b6e1c3dc9" />
    <add key="cache_dir" value="cache" />
  </appSettings>
  <applicationSettings>
    <FlickrConsole.Properties.Settings>
      <setting name="TableScript" serializeAs="String">
        <value>
          CREATE TABLE PhotoUploadStatus (ID INT PRIMARY KEY IDENTITY, PhotoPath nvarchar(255) not null, Synced bit not null, Action nvarchar(255) not null)
        </value>
      </setting>
    </FlickrConsole.Properties.Settings>
  </applicationSettings>
  <customDataConfig  provider="System.Data.SqlServerCe"  connectionString="Data Source=FlickrCache.sdf;"/>
</configuration>