.header_wrapper
{
	border-bottom : solid 1px #ccc;
	height : 55px;
	margin-bottom: 10px;
	
}

body, input, textarea, select {
font-family:Arial,Helvetica,sans-serif;
}
#Main {
margin-left:auto;
margin-right:auto;
margin-top:0px;
padding-left:10px;
padding-right:10px;
padding-top:0pt;
text-align:left;
width:760px;
}

.TagList {
color:#666666;
font-size:12px;
}
.globe {
margin-right:5px;
text-decoration:none;
}

div.photoDescription {
font-size:12px;
margin:0pt;
}
#About 
{
	padding:10px 10px 10px 0pt;
}
.error_msg
{
	height:25px;color:Red; background:#ffffa3 5px 5px no-repeat;font-weight:bold;padding: 5px 5px 5px 5px; margin-bottom: 10px; border: solid 1px green; clear:both;
}